<h2>ユーザー情報・プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム（表示名）" %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email, "Eメール" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mt-3">
    <h4>お客様情報</h4>
  </div>

  <h6>氏名（漢字）</h6>
  <div class="d-flex mb-3">
    <div class="field mr-2">
      <%= f.label :last_name, "姓" %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </div>
    <div class="field">
      <%= f.label :first_name, "名" %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>
  </div>

  <h6>氏名（カタカナ）</h6>
  <div class="d-flex mb-3">
    <div class="field mr-2">
      <%= f.label :last_name_kana, "セイ" %><br />
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </div>
    <div class="field">
      <%= f.label :first_name_kana, "メイ" %><br />
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>
  </div>


  <div class="field">
    <%= f.label :birth, "生年月日" %><br />
        <div class='input-birth-wrap d-flex'>
      <%= raw sprintf(
        f.date_select(
          :birth,
          class:'select-birth',
          id:"birth-date",
          use_month_numbers: true,
          prompt:'--',
          start_year: 1930,
          end_year: (Time.now.year - 5),
          date_separator: '%s'),
        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号"%><br />
    <%= f.text_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile, "プロフィール（最大200文字）"%><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>

  <div class="actions mb-5">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<div class="mb-5">
<p>STOCK PORTFOLIOの使用を終了する</p>
<p>※アカウントを削除するとこれまでの投稿も全て削除されます。</p> 
<%= link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %>
</div>

<%= link_to "戻る", :back %>
