<h2><%= @user.nickname %>さんのユーザーページ</h2>
<% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to "ユーザー情報・プロフィール編集",  edit_user_registration_path(@user.id)%>
<% end %>

<h2>プロフィール</h2>
<p><%= @user.profile %></p>

<h2><%= @user.nickname %>さんの作品一覧</h2>

<div class="container-fulid">
  <div class="row">
    <%= render partial: "products/product", collection: @products %>
  </div>
</div>