<div class="contact-new">
  <h2><%= @user.nickname %>さんにオファーメッセージを送る</h2>
  <p>※オファーを送ると自動的にEメール情報が相手ユーザーに公開されます</p>

  <%= form_with(model: [@user,@contact], local: true) do |f| %>
  <%= render 'shared/error_messages',model: f.object %>
    <%= f.text_area :message,placeholder:"メッセージを入力...", class:"contact-form" %>
    <%= f.submit "送信する", class:"contact-submit"%>
  <% end %>
</div>