<div class="mb-5 d-flex justify-content-around">
  <% if @product.next.present? %>
    <%= link_to "←次のポートフォリオ", product_path(@product.next.id)%>
  <% end %>
    <%= link_to "トップページへ戻る", root_path%>
  <%if @product.previous.present?%>
    <%= link_to "前のポートフォリオ→", product_path(@product.previous.id)%>
  <% end %>
</div>

<div class="item-box-img">
  <%if @product.image.present?%>
    <%= image_tag @product.image, class:"product-image" %>
  <% else %>
    <%= image_tag "no_image.png", class:"product-image"%>
  <% end %>
</div>

<% if user_signed_in? && current_user.id == @product.user_id %>
  <div class="mt-5 text-center">
    <%= link_to "編集", edit_product_path(@product.id), class:"edit-link" %>
    or
    <%= link_to "削除", product_path(@product.id), method: :delete, class:"delete-link" %>
  </div>
<% end %>

<table class="mt-5 detail-table">
  <tbody>
    <tr>
      <th class="detail-item">作品名</th>
      <td class="detail-value"><%= @product.title %></td>
    </tr>
    <tr>
      <th class="detail-item">作品説明</th>
      <td class="detail-value"><%= @product.text %></td>
    </tr>
    <tr>
      <th class="detail-item">投稿ユーザー</th>
      <td class="detail-value"><%= link_to @product.user.nickname, "#" %></td>
    </tr>
    <tr>
      <th class="detail-item">投稿日</th>
      <td class="detail-value"><%= @product.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <th class="detail-item">GitHub URL</th>
      <td class="detail-value">
        <%=link_to @product.github_uri, @product.github_uri, target: :_blank, rel: "noopener noreferrer" %>
        </td>
    </tr>
    <tr>
      <th class="detail-item">作品サイトURL</th>
      <td class="detail-value">
        <%=link_to @product.product_uri, @product.product_uri, target: :_blank, rel: "noopener noreferrer" %>
      </td>
    </tr>
  </tbody>
</table>

<div class="comment-area">
  <div class="mt-5">
    <p>コメント</p>
    <%= form_with(model: [@product, @comment] ,local: true) do |f| %>
    <div class="d-flex">
      <%= f.text_area :comment ,placeholder:"コメントを入力...", class:"comment-form"%>
      <%= f.submit "送信",class:"comment-submit"%>
    </div>
    <% end %>
  </div>

  <div class="mt-5">
    <% @comments.reverse.each do |comment|%>
      <div class="comment_user pl-2">
        <%= link_to comment.user.nickname, user_path(comment.user), class:"comment-nickname" %>
        ・<%= comment.created_at.strftime("%Y/%m/%d") %>
      </div>
      <div class="comment mb-3 pl-2">
        <p><%= comment.comment %><p>
      </div>
    <% end %>
  </div>
</div>
